<mat-form-field style="width: 35%">
  <mat-label>{{ phoneNumberPretext }}</mat-label>
  <input
    id="phoneNumber"
    #phoneNumber="ngModel"
    [name]="formName"
    type="text"
    matInput
    [(ngModel)]="parentPhoneNumber"
    required
    appPhoneValidator
    maxlength="12"
    (ngModelChange)="handlePhoneNumberChange($event)"/>
</mat-form-field>

<div
  *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
  class="alert">

  <p *ngIf="phoneNumber.errors?.['required']">
    {{ phoneNumberPretext }} is required.
  </p>

  <p *ngIf="phoneNumber.errors?.['phoneValidator']">
    Phone number must be the correct format: ###-###-####
  </p>

</div>

<p>{{ phoneNumber.errors | json }}</p>
