<mat-form-field>
  <mat-label>{{ phoneNumberPretext }}</mat-label>
  <input
    id="phoneNumber"
    #phoneNumber="ngModel"
    [name]="formName"
    type="text"
    matInput
    [(ngModel)]="parentPhoneNumber"
    required
    appPhoneValidator
    maxlength="12"
    (ngModelChange)="handlePhoneNumberChange($event)"/>
    <mat-error *ngIf="phoneNumber.errors?.['required']">
      {{ phoneNumberPretext }} is required.
    </mat-error>
    <mat-error *ngIf="phoneNumber.errors?.['phoneValidator']">
      Phone number must be the correct format: ###-###-####
    </mat-error>
</mat-form-field>
