<mat-toolbar class="toolbar">
  <div class="tool-bar-item-container">
    <app-header-toolbar-item name="Home"></app-header-toolbar-item>
    <app-header-toolbar-item name="Boarding"></app-header-toolbar-item>
    <app-header-toolbar-item name="Daycare"></app-header-toolbar-item>
    <app-header-toolbar-item name="Grooming"></app-header-toolbar-item>
    <app-header-toolbar-item [name]="isLoggedIn ? 'Profile' : 'App'"></app-header-toolbar-item>
    <app-sign-in></app-sign-in>
  </div>
</mat-toolbar>
